---
import arrowSvg from "../../assets/arrow.svg";
---

<script>
  const pathname = window.location.href.split("/").pop();
  const allLinks = document.querySelectorAll("#links li a");

  allLinks.forEach((e) => {
    const path = e.getAttribute("href")?.split("/").pop();
    if (pathname.length === 0 && path === "/") {
      return e.classList.add("active");
    }

    if (pathname === path) {
      return e.classList.add("active");
    }
  });
</script>

<nav>
  <a href="https://adedotxn.me" class="nickname"> adedotxn.</a>{" "}

  <ul id="links" class="links">
    <li><a href="/">Home</a></li>
    <li><a class="inactive" role="link" aria-disabled="true">Blog</a></li>
    <li>
      <a target="_blank" href="https://read.cv/adedotun">Resume</a>
      <img
        src={arrowSvg.src}
        width={arrowSvg.width}
        height={arrowSvg.height}
        alt="Go view Philip's Resume"
      />
    </li>
    <li>
      <a target="_blank" href="https://github.com/adedotxn">GitHub</a>
      <img
        src={arrowSvg.src}
        width={arrowSvg.width}
        height={arrowSvg.height}
        alt="Go to Philip's GitHub"
      />
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/adedotxn">Twitter</a>
      <img
        src={arrowSvg.src}
        width={arrowSvg.width}
        height={arrowSvg.height}
        alt="Go to Philip's Twitter"
      />
    </li>
    <li>
      <a target="_blank" href="mailto:adedotxn.dev@gmail.com">Email</a>
      <img
        src={arrowSvg.src}
        width={arrowSvg.width}
        height={arrowSvg.height}
        alt="Email Philip"
      />
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/philip-adewole"
        >LinkedIn</a
      >
      <img
        src={arrowSvg.src}
        width={arrowSvg.width}
        height={arrowSvg.height}
        alt="Go to LinkedUn"
      />
    </li>
  </ul>
</nav>

<style>
  .nickname {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
  }

  .nickname:hover {
    border-bottom: 2px solid var(--colab_orange);
  }

  .links {
    display: grid;
    column-gap: 0.9rem;
    row-gap: 0.2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 70vw;
    font-size: 1.1rem;
  }

  .links > li {
    display: flex;
    align-items: center;
  }

  .links > li:hover,
  .active {
    text-decoration: underline;
  }

  .inactive {
    color: grey;
  }

  @media screen and (min-width: 768px) {
    .links {
      width: 30vw;
      font-size: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .nickname {
      font-size: 1.3rem;
    }
  }
</style>
